<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>

<div class= "subpage-content container text-center">
<h2>Contribute Items of Need</h2>
<hr>
<div class="row con-pad" >

  <div class="col-sm-6 col-md-6 ">
    <img src="assets/img/icons/gift-box.png" alt="">
    <h3>WKO Items Wish List</h3>
    <br>
    <ul class="text-left">
      <li>coats for any age – new or gently used</li>
      <li>prepaid TracFone or GoPhone cards for clients</li>
      <li>dress up clothes and/or dance costumes (for use at summer camp)</li>
      <li>small toys to be used for activities and prizes</li>
      <li>file cabinets</li>
      <li>office supplies</li>
      <li>school supplies</li>
      <li>art supplies</li>
      <li>new baby cribs (without drop sides)</li>
      <li>new play pens</li>
      <li>new car seats</li>
      <li>smoke detectors (and batteries)</li>
      <li>first aid supplies and kits</li>
      <li>new or gently used horse saddles and bridles</li>
      <li>flashlights</li>
      <li>sun screen and bug spray</li>
    </ul>
  </div>

  <div class="col-sm-6 col-md-6 ">
    <!-- pacifier image
    <img src="assets/img/icons/bazaza.png" alt="bebrona">
    -->
    <img src="assets/img/icons/hat.png" alt="">
    <h3>Baby Items Wish List</h3>
    <br>
    <ul class="text-left">
      <li>diapers - all sizes</li>
      <li>diaper wipes</li>
      <li>diaper cream</li>
      <li>pacifiers</li>
      <li>digital thermometers</li>
      <li>receiving blankets</li>
      <li>safety gates</li>
      <li>childproofing kits and items</li>
      <li>baby wash and lotion</li>
      <li>outfits/clothing sizes 3-6 months and 6-9 months</li>
      <li>baby nail clippers</li>
      <li>comb and brush sets</li>
      <li>baby socks</li>
      <li>baby washcloths and towels</li>
      <li>Pedialite</li>
      <li>baby formula and baby food</li>
      <li>NO BABY POWDER, please</li>
    </ul>
    <br>
  </div>

  <p>Need more ideas or further nformation?</p>
  <a ui-sref="contact"> Contact Us</a>
</div>
</div>
</div>
