<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>


  <div class= "subpage-content container text-center">


    <h2>#wko Faces of Change</h2>
    <hr>
    <br>
    <div class="row faces">

      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-1.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-2.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-3.jpg" alt="125x125">
      </div>
    </div>

    <div class="row faces">
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-1.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-2.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-3.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-4.jpg" alt="125x125">
      </div>
    </div>
    <div class="row faces">
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-4.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-5.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-6.jpg" alt="125x125">
      </div>
    </div>

    <div class="row faces">
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-5.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-6.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-7.jpg" alt="125x125">
      </div>
      <div class="col-md-3">
              <img class="img-responsive faces" src="../../assets/img/children/faces-t-8.jpg" alt="125x125">
      </div>

    <div class="row faces">
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-7.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-8.jpg" alt="125x125">
      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-9.jpg" alt="125x125">
      </div>
    </div>

    <div class="row faces">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
              <img class="img-responsive faces" src="../../assets/img/children/faces-w-12.jpg" alt="125x125">
      </div>
      <div class="col-md-4">

      </div>
    </div>

    </div>

  </div>
</div>
