<div id="footer">
  <div class="footer-color-line col-xs-12 col-sm-12 col-md-12 col-lg-12"> </div>

  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 footer-content">
    <div class="col-md-8 footer-navbar">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ui-sref="ourStory">Our&nbsp;Story</a>
        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ui-sref="impact">Need &amp; Impact</a>
        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ui-sref="programs">Programs</a>
        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ui-sref="helpUs">Get&nbsp;Involved</a>
      </div>

      <div class="row col-sm-12 col-md-12 col-lg-12 footer-donate">
        <a class="col-xs-6 col-sm-6 col-md-6 col-lg-3" ui-sref="donate"><span class="donate-button-border">Donate</span></a>
      </div>

      <br><br><br><br>

      <ul class="social-list">
        <li><a href="https://www.facebook.com/wholekidsoutreach"  target="_blank"><img src="assets/img/icons/fb.png" alt="facebook"></a></li>
        <li><a href="https://instagram.com/wholekidsoutreach"  target="_blank"> <img src="assets/img/icons/instgram.png" alt="instagram"></a></li>
        <li><a href="https://twitter.com/wko_missouri"  target="_blank"><img src="assets/img/icons/twitter.png" alt="twitter"></a></li>
        <!--
        <li><a href="http://www.youtube.com"  target="_blank"><img src="assets/img/icons/yt.png" alt="youtube"></a></li>
        -->
      </ul>

    </div>

    <div class="col-md-4 contactus">
      <h2><a ui-sref="contact">Contact Us</a></h2>
      <ul>
        <li>
         <img src="assets/img/icons/phone.png" alt="phone">
         <p>573-663-3257</p>
         <br>
         <img src="assets/img/icons/phone.png" alt="phone">
         <p>800-760-3259</p>
        </li>
        <li>
         <img src="assets/img/icons/email.png" alt="email">
         <a href="mailto:info@wholekidsoutreach.org"> info@wholekidsoutreach.org</a>
        </li>
      </ul>
      <br>
    </div>
  </div>
  <div class="copyright text-center">
      <p>Copyright &copy; 2015 * 501(c)(3) nonprofit * Federal ID number: 43-1839370</p>
  </div>
</div>
