<div class="header-color"></div>
<div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
  <div class="wrapper story-wrapper general-wrapper story-container-fluid ">

    <h2 id="impact-top" class="avro">
      Need and Impact
    </h2>
    <br>

    <div class="row col-sm-12 col-md-12 col-lg-12 ">
      <div class="col-sm-4 col-md-4">
        <img class="img-circle" src="assets/img/boy-truck-puppy.jpg" alt="Boy and Truck">
      </div>

      <div class="col-sm-8 col-md-8">
        <div class="story-well">
          <h3 class="text-center">
            Changed Lives, Changed Attitudes
          </h3>

          <p>
            <span class="emph">W</span>hole <span class="emph">K</span>ids <span class="emph">O</span>utreach is the
            only comprehensive service organization for pregnant women/teens and families with young children
            in the 6-county area.
          </p>

          <p>
            Since starting our work in 1999, WKO has served more than
            2,000 families and 16,000 children in the 6-county region.
          </p>

          <div class="row action text-center">
            Learn More . . .
            <a routerLink="impact_details">
              <span class="action_arrow_p img-center">
                <!-- arrow defined in css -->
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row text-center">
      <div class="col-md-12 text-center">
        <h2>
          Poverty and Healthcare Shortage in Service Area
        </h2>
      </div>

      <div class="col-sm-12 col-md-5  text-center">
        <div class="story-well text-center">
          <img class="img-responsive img-center" src="assets/img/incomeStats.png" alt="">
          <h4>
            Income Statistics
          </h4>
        </div>
      </div>

      <div class="col-sm-6 col-md-2  text-center">
        <div class="story-well">
            <h4>Counties in Region</h4>
            <ul>
              <li><span class="story-well-letter">I</span>ron</li>
              <li><span class="story-well-letter">R</span>eynolds</li>
              <li><span class="story-well-letter">S</span>hannon</li>
              <li><span class="story-well-letter">W</span>ayne</li>
              <li><span class="story-well-letter">C</span>arter</li>
              <li><span class="story-well-letter">B</span>utler</li>
              <li>(<span class="story-well-letter-W">W</span>hole Kids Outreach)</li>
            </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-5  text-center">
        <div class=" text-center">
          <a href=
      "https://www.google.com/maps/place/37%C2%B010%2733.3%22N+90%C2%B057%2759.4%22W/@37.1699412,-90.9693449,3216m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0?hl=en"
           target="_blank">
             <img class="img-responsive img-center img-circle" src="assets/img/map1.png" alt="">
          </a>
        </div>
        <h4>
          Average Distance to Health Care
        </h4>
        <p>
          60 miles (for families outside of Butler County)
        </p>
      </div>
    </div>

    <hr>
    <div class="row action text-center">
      Meet a few of our children . . .
      <a routerLink="children">
        <span class="action_arrow_p img-center">
          <!-- arrow defined in css -->
        </span>
      </a>
    </div>

    <hr>
    <div class="row text-center">
      <h2>
        In Our Own Words
      </h2>
      <div class="col-md-12" data-wow-delay="0.2s">
        <!-- old version
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        -->
        <div class="carousel slide" id="quote-carousel">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/assets/img/people/Brandy-family.jpg" alt="">
              </li>
              <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="/assets/img/people/carla.jpg" alt="">
              </li>
              <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="/assets/img/people/ashley.jpg" alt="">
              </li>

            </ol>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="carousel-inner">
              <div class="item active">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>
                        Brandy’s husband left her when she was pregnant with twins and already had two
                        small children in her home. It was then that she welcomed WKO into her home.
                        At that time Brandy was struggling greatly to make ends meet and had little
                        to no family support.
                        One of her first decisions, before having her twins, was to finish the semester
                        of college that she had started but not go back to college until the twins were older.
                        She was starting to figure out how to manage on her own and Whole Kids was there to guide her.
                        WKO nurse Tina worked with her through her pregnancy and Brandy posted to the WKO
                        Facebook page to share her story of struggle and her relationship with Whole Kids:
                      </p>
                        <blockquote>
                        <p>
                        … Slowly, people trickled into my life to form a support system.
                        I had my family, but then met some wonderful ladies that really helped build me up.
                        Whole Kids Outreach introduced me to Donna and Tina, two wonderful women whose
                        friendship I value highly. Their weekly visits made the world of difference.
                        . . . Fast forward to today, my amazing daughters are ONE-YEAR OLD.
                        This year has been the biggest roller coaster of my life!
                        I love every hair, every toe, every giggle, every smile, every tear.
                        . . . Our hearts and lives are full of love. My life is truly complete.
                        I love you Aria Elise and Ella Denise! Thank you Lord for my babies!
                        </p>
                        </blockquote>
                        <p>
                        Brandy is now providing childcare in her home and is in the process of obtaining
                        a day care license.
                        Brandy no longer participates in a WKO program as she has worked her way to
                        independence and security.
                      </p>
                      <blockquote>
                      <small>
                        Brandy, Outreach Client
                      </small>
                      </blockquote>
                    </div>
                  </div>
              </div>

              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>
                        I’ve been blessed to see a mama come out of a 'bad' relationship, get her feet on the ground and be accepted
                        into nursing school.
                        I’ve had people who I honestly didn’t remember until they gave me a name and then a big hug in the middle of
                        Dollar Tree because I came and “visited” them and their terminally ill child for a short time.
                        I’ve had to tell the court that a client was “unable to parent” her child.
                        Yes, we were instrumental in getting her rights taken away.
                        Yet, this same mother called WKO a little more than a year later when she was pregnant again.
                        She wanted a WKO home visitor to help her through the pregnancy and to learn how to be a better parent this
                        time around.
                        We offered another Outreach Specialist, but she wanted me back in the home because she 'trusted me.'
                        This time with a different support system and a different attitude, she is raising her beautiful baby girl.
                        I’m an Outreach Specialist and am proud to be called that.
                        Thank you all for making this job possible.
                      </p>
                      <small>
                        Carla Jensen, Retired Outreach Specialist
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>
                        I have a client named Nikki.
                        When we met, she was eight months pregnant with her second child, a daughter.
                        Her ten-year-old son had to live with Nikki’s mother but Nikki was not allowed to live there because her
                        mother told her there wasn’t room for her, so Nikki lived in her car.
                        Nikki has a history of abuse and neglect from her mother and father.
                        I was able to help Nikki find resources to get her out of her car and into a house.
                        Together, we also found community agencies to help her pay her bills for three months so she could get on her
                        feet before her daughter was born.
                        Nikki now has a full time job and is paying her bills.
                        Nikki is now living with her son and her daughter who was born healthy and continues to grow and thrive.
                        Nikki is enrolled in college classes and hopes to become a nurse.
                      </p>
                      <small>
                        Ashley, Former Outreach Specialist
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
