<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>


  <div class= "subpage-content container">


    <h2 class="text-center">Home Visiting Programs</h2>
   <hr><br>
     <div class="row" id="home_visiting_descriptions" >
            <div class="col-md-6" >
               <img src="assets/img/icons/familyamerica.png" alt="mom">
                <h3>Healthy Families America</h3>
                <p>
                  WKO’s Outreach Specialists staff the Healthy Families America (HFA) Program,
                  a nationally-recognized FREE home visiting program.
                  It is designed to assist parents to ensure that their children receive the
                  nurturing care that is essential to leading a healthy and productive life.
                  Pregnant women/teens and families with infants up to 6 months old are eligible for enrollment.
                  The Outreach Specialists can accompany parents’ on their journeys until their
                  youngest child is three years old, providing health education, support and resources.
                </p>
            </div>

            <div class="col-md-6" >
               <img src="assets/img/icons/blue_biberon.png" alt="mom">
                <h3>Maternal-Child Nursing Program</h3>
                <p>Registered nurses staff the Maternal-Child Nursing Program,
                which utilizes the home visiting model of Nurses for Newborns
                in St. Louis. The program provides a safety net for families
                in order to help prevent infant mortality, child abuse and neglect.
                In response to referrals from medical centers, physicians' offices,
                clinics, social service agencies and direct requests from families,
                Whole Kids Outreach sends specially trained nurses to the homes of
                pregnant women or parents.</p>

            </div>

    </div>
      <div class="text-center">
         <br>
         [Information presented, in part, is taken from <a href="http://healthyfamiliesamerica.org" target="_blank)">healthyfamiliesamerica.org</a>
         and <a href="http://nfnf.org" target="_blank)">nfnf.org</a>.]
      </div>
 </div>
</div>
