<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>

  <div class= "subpage-content container">

    <div class="text-center">
      <h1>Web Development Team</h1>
    </div>

    <hr>


      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <img class="img-rounded img-responsive img-center" src="assets/img/WSUatWKO.jpg">
        <br>
        <p>
          This website was developed by students in the Computer Science Department at
          <a href="www.winona.edu" target="_blank">Winona State University</a>.
          Lead developers of the website were Nick McNeely and Malek Hakim.
          The design and programming team also included Mohamed El-Rous, Jack Morey, Carly Nixon, Elliot Peck and
          Jeffrey Moon.
          </p>
          <p>
          Students involved in the usability design and testing of the site included
          [Ellington team:] Ben Adelmann, Peter McPhail, Curran Rooker, Brett Tungland and Travis Walsh,
          and
          [Winona team:]
          Komal Bansal, Junyang Bian, Ryan DeVelder, Shelley Gorak,
          Nathan Karlstad, Mark Krueger, Haoxiang Li, Nathan Martin, Kyle Mohr,
          Shah Raiaan, Rebekah Saugen, Connor Stevens and Adam Yucuis.
        </p>
        <p>
          The work was done as part of CS 344 in Fall 2014 and CS 444 in Spring 2015,
          under the direction of Professor Joan Francioni.
        </p>
      </div>

</div>
