<div class="header-color"></div>
  <div class="container-fluid story-container-fluid col-sm-12 col-md-10 col-md-offset-1">
    <div class="wrapper story-wrapper general-wrapper">

      <h2 class="avro">Contact Us</h2>
      <br>

      <div class="row con-pad contact_page text-center" >
        <div class="col-md-4 col-sm-4 " >
         <a href="tel:5736633257"><img src="assets/img/icons/call.png" alt="Call"></a>
          <h2>Contact Info</h2>

          <ul>
            <li><a href="mailto:info@wholekidsoutreach.org"> info&#64;wholekidsoutreach.org</a></li>
            <li><a href="tel:5736633257">(573) 663-3257</a></li>
            <li><a href="tel:8007603259">(800) 760-3259</a></li>
          </ul>
        </div>

<!--
<a href="https://goo.gl/maps/U82Fd" target="_blank" >
-->
       <a href="https://www.google.com/maps/place/37%C2%B010'33.3%22N+90%C2%B057'59.4%22W/@37.1856279,-90.9642907,12.5z/data=!4m2!3m1!1s0x0:0x0?hl=en"
       target="_blank">
          <div class="col-md-4 col-sm-4" >
            <img src="assets/img/icons/location.png" alt="location">
            <h2>Our Location</h2>
            <p>62143 Highway 21<br>
            Ellington, Missouri 63638
            </p>
          </div>
        </a>

        <a ui-sref="team">
          <div class="col-md-4 col-sm-4" >
           <img src="assets/img/icons/team-con.png" alt="team">
            <h2>
              Our Team
            </h2>
            <p>
              The Whole Kids Outreach Team consists of trained nurses, outreach specialists,
              center staff and regional and national experts.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

