<div class="subpage">
    <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
    </button>


    <div class= "subpage-content container">
      <hr>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <carousel>
                <slide *ngFor="let x of images">
                  <img src="assets/img/programs/moms/{{x}}" alt="{{x}}" style="display: block; width: 750px; height:500px;">
                </slide>
              </carousel>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="kids_program">
              <div class="kids_program_content">
                <h3>Moms' Day Out</h3>
                <p>
                  Gather together to share stories, learn new skills and support each other.
                </p>
                <ul>
                  <li>
                    <img src="assets/img/icons/person.png" alt="person">
                    <p>Moms of pre-school children</p>
                  </li>
                  <li>
                    <img src="assets/img/icons/clock.png" alt="clock">
                    <p>Throughout the year</p>
                  </li>
                  <li>
                    <img src="assets/img/icons/register.png" alt="register">
                    <p>
                      Contact WKO office.
                      <br>When needed, WKO provides free babysitting and help with transportation.
                    </p>
                  </li>
                </ul>
              </div>

              <button routerLink="contact"> Register</button>
            </div>

        </div>
      </div>
    </div>
  </div>
