<div class="story-container-fluid col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
  <div class="wrapper story-wrapper general-wrapper container-fluid ">

    <h2 class="avro">
      About Whole Kids Outreach
    </h2>
    <br>

    <div class="row story-card">

      <div class="col-md-4 text-center right-border">
        <a routerLink="approach">
          <div class="img-responsive card hovercard green">
            <div class="cardheader-approach">
            </div>
            <div class="avatar">
              <img src="assets/img/icons/approach.png" alt="approach">
            </div>
            <div class="info">
              <h2 class="title text-center">
                Our Approach
              </h2>
              <p class="desc text-center">
                The WKO approach includes <em>Home visits</em> by registered nurses and outreach specialists,
                and <em>Center-based programs</em> of culturally sensitive, high-quality programming and events.
              </p>
              <div class="action">
                <span class="action_arrow_p img-center">
                  <!-- arrow defined in css -->
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 text-center right-border">
        <a routerLink="team">
          <div class="img-responsive card hovercard purple">
            <div class="cardheader-team">
            </div>
            <div class="avatar">
              <img src="assets/img/icons/team.png" alt="team">
            </div>
            <div class="info">
              <h2 class="title">
                Our Team
              </h2>
              <p class="desc">
                The Whole Kids Outreach Team consists of trained nurses, outreach specialists,
                regional and national experts, as well as community members and volunteers.
              </p>
              <div class="action">
                <span class="action_arrow_y img-center">
                  <!-- arrow defined in css -->
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 text-center ">
        <a routerLink="history">
          <div class="card hovercard blue">
            <div class="cardheader-history">
            </div>
            <div class="avatar">
              <img src="assets/img/icons/history.png" alt="history">
            </div>
            <div class="info">
              <h2 class="title">
                Our History
              </h2>
              <p class="desc">
                Started in 1999
              <br>
                WKO integrates
                its programs and services to support the growth and development of pregnant
                mothers and children within their family structures.
              </p>
              <div class="action">
                <span class="action_arrow_p img-center">
                  <!-- arrow defined in css -->
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="jumbotron  story-jumbo">
        <h3 class="text-center">WKO MISSION</h3>
        <p class="">
          <em><span class="emph">W</span>hole <span class="emph">K</span>ids <span class="emph">O</span>utreach
          is a faith-based, nonprofit service organization committed to the unmet
          health and developmental needs of children, youth, and pregnant women within their family
          structure.</em>
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
