<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>

  <div class= "subpage-content container">

    <div class="text-center">
      <h1>THANK YOU</h1>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">
          to the many individuals and groups who support our work!
          <br>
        </h2>
        <p>
          Our mission continues to be possible thanks to the many individuals, corporations and foundations
          that make grants and gifts to Whole Kids Outreach.
          Thank you to all of our current funders, including those listed below who have provided support within the past two years.
        </p>
        <div class="supporters text-center">
          <a href="http://ctf4kids.org/" target="_blank"><img src="assets/img/thankyou/childrenstrustfund-logo.png" alt=""></a>
          <a href="https://www.mffh.org/" target="_blank"><img src="assets/img/thankyou/missouriFoundationHealth-logo.jpg" alt=""></a>
          <br>
        </div>
        <hr>
        <p>
        Many of our programs are supported by the Missouri Department of Economic Development,
        through the Neighborhood Assistance Program and Youth Opportunity Program.
        These programs offer WKO the opportunity to provide Missouri state tax credits to donors.
        Visit our <a routerLink="donate">Donation Page</a>
        to learn what is currently available.
        </p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1 text-right">
        <a href="http://www.winona.edu" target="_blank"><img src="assets/img/wsulogo_graphic.png"></a>
      </div>
      <div class="col-xs-8 col-md-6 col-md-offset-1">
        <p>
          This website was created by <a routerLink="wsu-cs">students in the Computer Science Department</a> at
          Winona State University.
        </p>
      </div>
  </div>
</div>
