/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


.divider10 {
  height: 10px;
}

.divider5 {
  height:5px;
}

.bg-purple {
  background-color: #a967aa;
}

.bg-green {
  background-color: #60c6a0;
}

.bg-blue {
  background-color: #5dcfe9;
}

.bg-white {
  background-color: white !important;
}

.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.no-pad {
  padding: 0px;
}

.pr-5 {

  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
.pl-50 {
  padding-left: 50px;
}

.npl {
  padding-left: 0px;
}

.npr {
  padding-right: 0px;
}

.reduced-width {
  width: 95% !important
}

.pad-top-em {
  padding-top: 3em;
}

.full-wdith {
  width: 100%;
}


