<div class="header-color"></div>

<div class="col-sm-12 col-md-10 col-md-offset-1">
  <div class="wrapper helpUs-wrapper general-wrapper container-fluid ">

   <div class="row">
     <h2 class="avro">
        Ways You Can Support This Work
      </h2>
      <br>
      <div class="col-sm-4 box text-center right-border">
      <a routerLink="donate">
        <div class="story-well">
          <img src="assets/img/icons/money-saving.png" alt="money">
          <h2 class="action"> Donate Money&nbsp;
              <span class="action_arrow_g img-center">
                  <!-- arrow defined in css -->
              </span>
          </h2>
          <ul>
            <li>Our budget</li>
            <li>Contribute online</li>
            <li>Missouri Tax Credit</li>
          </ul>
        </div>
      </a>
      </div>

      <div class="col-sm-4 box text-center right-border ">
        <a routerLink="volunteer">
          <div class="story-well">
            <img src="assets/img/icons/clock2.png" alt="volunteers">
            <br>
            <h2 class="action"> Donate Time&nbsp;
              <span class="action_arrow_y img-center">
                  <!-- arrow defined in css -->
              </span>
            </h2>
            <ul>
              <li>Become a volunteer</li>
              <li>Help with fundraising<br><br></li>
            </ul>
          </div>
        </a>
      </div>

      <div class="col-sm-4  box text-center ">
        <a routerLink="wishlist">
          <div class="story-well">
            <img src="assets/img/icons/clipboard.png" alt="wishlist">
            <h2 class="action"> Donate Items&nbsp;
              <span class="action_arrow_b img-center">
                  <!-- arrow defined in css -->
              </span>
            </h2>
            <ul>
              <li>Donate supplies, baby items, toys, ...</li>
              <li>Our Wish Lists</li>
            </ul>
          </div>
        </a>
      </div>
    </div>

   <div class="row">
    <div class="helpUs-points">
      <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
        <p>
          <br>
          <a routerLink="donate">85% of WKO budget</a> comes from donations and grants.
        </p>
      </div>
      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
        <p>
          Gifts of every size and type are appreciated and
          make a difference in hundreds of young lives.
        </p>
     </div>
     <div class="col-sm-12 col-md-8 col-md-offset-2 text-center helpUs-img action">
         <a routerLink="thankyou">
           Thank You!&nbsp;
           <img class = "" src="../../assets/img/holdinghands3.jpg" alt="">
           <span class="action_arrow_p img-center">
                  <!-- arrow defined in css -->
            </span>
          </a>
     </div>
    </div>
  </div>
  <div class="helpUs-quote text-center">
    <p>
      <br>
      <em>
          I have found that among its other benefits, giving liberates the soul of the giver.
      </em>
      <br>- Maya Angelou
      <br>
    </p>
  </div>

 </div>
</div>
