<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>

  <div class= "subpage-content container">

    <div class="text-center">
      <h2>Participate in the WKO Mission</h2>
      <p>
        Volunteer opportunities abound at Whole Kids Outreach.
        <br>
        New and returning volunteers are welcomed and each is offered a unique learning and social experience.
      </p>
      <p>
        Visit our websit, or come by the Center in Ellington, and see how you too can become part of the WKO Team!
      </p>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
         <h3>
           <img src="assets/img/icons/volunteer.png" alt="money">
            Volunteer at the Center
         </h3>

        <p>
          Volunteers are welcomed onto the WKO property throughout the year for a variety of activities.
          The length of any given volunteer experience varies from an hour to a whole week, and
          volunteers can be individuals or groups, young or old.
          Each volunteer is acclimated to the expectations of the assigned tasks through a thorough
          orientation.
          This orientation also helps connect the service project with the overall mission of WKO.
        </p>
        <p>
          Volunteers who participate in extended projects (more than one day) have the chance to be involved
          in a variety of dynamic projects such as:
        </p>
          <ul>
            <li>service activities with the WKO grounds and maintenance team</li>
            <li>recreational activities with children of all ages</li>
            <li>community outreach activities for WKO clientele who need help with home improvements to
            improve the safety of their living environments</li>
            <li>Camp Whole Kids, WKO’s four-week summer day camp</li>
          </ul>
      </div>

      <div class="col-md-6">
         <h3>
           <img src="assets/img/icons/home.png" alt="">
            Volunteer Where You Live
          </h3>

          <p>
            Off-site volunteer opportunities are also available and welcomed.
            These activities may be as small as running a lemonade stand, or as involved as building this website.
            For large projects, it is best to coordinate with the WKO staff up front.
          </p>
          <p>
            Some example opportunities of past projects include:
          </p>
            <ul>
              <li>supporting the WKO Christmas Store with gifts and logistics</li>
              <li>conducting local fundraising events</li>
              <li>providing administrative and technology support</li>
            </ul>

          <div class="text-center img-responsives">
            <img class="circle" src="assets/img/fundraising.jpg" alt="happy girl and her lemonade stand">
          </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
      <p class="more_info">
        For further information on all volunteer options:
       <a ui-sref="contact">Contact Us </a>
       <br>
      </p>
      </div>
    </div>

  </div>
</div>
