<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>


<div class= "subpage-content container">

  <h2 class="text-center">
      WKO History
  </h2>
  <hr>
  <p>
    [To receive a copy of our latest 990s and/or financials,
    please contact the WKO Office at 573-663-3257 or at
    <a href="mailto:susancooper@wholekidsoutreach.org">susancooper@wholekidsoutreach.org</a>.]
</p>
  <p>
    Whole Kids Outreach was created in 1999 as the result of a yearlong
    reorganization and restructuring process of its parent organization,
    <a href="http://www.wholehealthoutreach.org/" target="_blank">Whole <strong>Health</strong> Outreach</a>.
</p>

<div class="row">
<div class="col-md-7">
   <br>
   <h3 class="text-center">Milestones</h3>
   <br>

    <div class="timeline-centered">
        <article class="timeline-entry">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-one">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h3>1989 - Parent Organization</h3>
                    <blockquote>
                       <a href="http://www.wholehealthoutreach.org/" target="_blank">Whole <strong>Health</strong> Outreach</a> (W<strong>H</strong>O)
                       opens its doors
                       to provide a local, preventive and personal response to the rural health crisis in southeast Missouri.
                    </blockquote>
                </div>
            </div>
        </article>

        <article class="timeline-entry">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-two">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h3>1997 - Unmet Need</h3>
                    <blockquote>
                      With Saint Louis University School of Public Health,
                      staff and board of WHO embark on a year-long study of the
                      needs of birth to three-year-old population in service area.
                      Results of this study indicate it would be beneficial to create a new organization
                      specifically targeting the health and well-being of women, children and families.
                    </blockquote>
                </div>
            </div>
        </article>

        <article class="timeline-entry">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-three">
                    <i class="entypo-location"></i>
                </div>

                <div class="timeline-label">
                    <h3>Late 1998 - Location Set</h3>
                    <blockquote>
                      A grant obtained from the Daughters of Charity Foundation makes it possible
                      to purchase a large house set on 10 acres in Ellington,
                      Missouri that can serve as the <em>Whole <strong>Kids</strong> Outreach Center</em>.
                    </blockquote>
                </div>
            </div>
        </article>

        <article class="timeline-entry">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-four">
                    <i class="entypo-camera"></i>
                </div>

                <div class="timeline-label">
                    <h3>January 1, 1999</h3>
                    <blockquote>
                        Whole Kids Outreach is incorporated as a nonprofit service organization.
                    </blockquote>
                </div>
            </div>
        </article>
    </div>
   </div>

   <div class="col-md-5 history">
  <br>
  <h3 class="text-center">Growth in Size of Center</h3>
  <br>
<img class="legend" src="../assets/img/legend.png">
<br>
<h4>Number of staff:</h4>
  <img class="buble" src="../assets/img/nstaff.png">
  <br>
<h4>Number of families served:</h4>
  <img class="buble" src="../assets/img/nfamily.png">
  <br>
<h4>Number of kids at camp each year:</h4>
  <img class="buble" src="../assets/img/nkids.png">

</div>
</div>

</div>
</div>
