<div class="subpage">
  <button type="button" class="subpage-back" aria-label="Left Align" onclick="goBack()">
  </button>

  <div class= "subpage-content container impact-stats">
    <h2 class="text-center">
      WKO Impact
    </h2>
    <hr>
    <br>

    <div class="row col-md-10 col-md-offset-1" >

      <dl>
        <dt class="need">NEED</dt>
        <dd>
            Pre-term babies are likely to have more health and learning issues than term babies.
            In the region where we work, the average rate of
            pre-term babies is <strong>15</strong> for every <strong>100</strong> live births.
        </dd>
        <dt class="impact">IMPACT</dt>
        <dd>
            For pregnant women/teens who participate in WKO’s home
            visiting programs, the rate is closer to <strong>2</strong> for every <strong>100</strong>.
          <br>
          <br>
        </dd>

        <dt class="need">NEED</dt>
        <dd>
            Children with health and learning problems are more at risk for child abuse/neglect.
            The rate of substantiated (proven) child abuse/neglect
          cases in the service area averages <strong>50</strong> out of every <strong>1,000</strong> children.
        </dd>
        <dt class="impact">IMPACT</dt>
        <dd>
          Although many children enter WKO’s programs with a history
          of child abuse and/or neglect, during the time that they are
          or were enrolled in WKO’s home visiting and summer day camp programs,
          the rate decreased to <strong>10</strong> out of <strong>1,000</strong>.
        </dd>
      </dl>
    </div>

    <div class="row col-md-10 col-md-offset-1" >
    <hr>
        <h3>Statistics on Community Risk Factors</h3>
        <p class="impact-stats-info">
          A number of counties in the WKO region have higher risk indicators, and sometimes much higher,
          than the state of Missouri as a whole.
        </p>
        <a href="assets/docs/CommunityRiskFactors-WKORegion.pdf" target="_blank">
          <img src="assets/img/heatmap.png" alt="regional stats" class="img-responsive img-center">
        </a>
    </div>
    <div class="row col-md-10 col-md-offset-1" >
    <hr>
    <h3>REFERENCES</h3>
      <ul>
        <li><a href="http://datacenter.kidscount.org/data#MO/5/0" target="_blank">
          2015 KIDS COUNT Data Book</a></li>

        <li><a href="http://ctf4kids.org/about-prevention/what-is-child-abuse-neglect/" target="_blank">
          What is child abuse and neglect?</a></li>
        <li><a href="http://ctf4kids.org/about-prevention/what-is-prevention/" target="_blank">
          What is prevention?</a></li>

        <li><a href="http://iom.nationalacademies.org/Reports/2013/New-Directions-in-Child-Abuse-and-Neglect-Research/Child-Abuse-Infographic.aspx"
            target="_blank">Understanding Child Abuse and Neglect</a></li>
      </ul>
    </div>

  </div>
</div>
